<div class="authform">
	

		<%= simple_form_for current_user, url: [:verify_mobile_number, current_user], method: "PUT" do |f| %>
			<h3>Check your phone.</h3><hr>

			<p>We’ve texted a code to <%= %{#{current_user.mobile_number}}%>. Once you receive the code, enter it below to confirm your phone number.</p>
			<hr>
				
			<table class="mfs-table">
				<tr>
					<td width="35%">Verification code</td>
					<td><%= f.input :verification_code, label: false %></td>
				</tr>
				<tr>
					<td><%= link_to "New verification code", [:generate_new_token, current_user] %></td>
					<td><%= f.submit "Activate Phone", class: "button pull-right" %></td>
				</tr>
			</table>
		<% end %>


</div>