<div class="authform">
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
    
    <h3>Sign in</h3><hr>

    <div class="form-group">
      <%= f.email_field :email, autofocus: true, placeholder: "Email Address", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%- if devise_mapping.recoverable? %>
        <%= link_to "Forgot password?", new_password_path(resource_name), class: 'right' %>
      <% end -%>
      <br>
      <%= f.password_field :password, placeholder: "Your Password", class: 'form-control' %>
    </div>

    <br>
    <%= f.submit 'Sign in', :class => 'button right' %>
    <br>
  <% end %>
</div>
